/* Utilities  */
p {
    margin: 10px 0;
    font-size: 18px;
    text-align: left;
  }
  h4 {
    font-size: 18px;
    text-align: left;
    font-weight: bold;
  }
  /* Section header */
  .section_header_light_talk_app {
    background-color: #f3ca99;
  }
  .header_light_talk_app {
    display: flex;
    align-items: start;
    background: #f3ca99;
  }
  .header_light_talk_app .box {
    flex: 1;
    background: #f3ca99;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .header_light_talk_app .box:nth-of-type(1) {
    flex-grow: 2;
  }
  .header_light_talk_app .box:nth-of-type(2) {
    flex-grow: 1;
  }
  .container_buttons_links_header_light_talk_app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .container_buttons_links_header_light_talk_app a:hover {
    color: #f3ca99;
  }
  .container_buttons_links_header_light_talk_app btn {
    width: 100px;
    height: 100px;
    background: #f3ca99;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Section light_talk_app_new_entry_main */
  .section_light_talk_app_new_entry_main {
    background-color: #f29545;
  }
  .light_talk_app_new_entry_main {
    display: flex;
    align-items: start;
    background: #f29545;
  }
  .light_talk_app_new_entry_main .box {
    flex: 1;
    background: #f26934;
    color: black;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .light_talk_app_new_entry_main .box:nth-of-type(1) {
    flex-grow: 3;
  }
  .light_talk_app_new_entry_main .box:nth-of-type(2) {
    flex-grow: 3;
  }
  .light_talk_app_new_entry_main .box:nth-of-type(3) {
    flex-grow: 3;
  }
  .light_talk_app_new_entry_main .box:nth-of-type(4) {
    flex-grow: 3;
  }
  .section_container_buttons_light_talk_app_new_entry_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 0px;
    margin: 0px 0px;
  }
  .btn_light_talk_app_new_entry_main {
    padding: 10px 10px;
    margin: 10px 10px 10px 10px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    background-color: #f26934;
    border: 2px solid #f3ca99;
  }
  .btn_light_talk_app_new_entry_main:hover {
    color: #fff;
    background-color: #f3ca99;
    border: 2px solid #f3ca99;
    text-decoration: none;
  }
  /*Container new_entry */
  .new_entry {
    display: flex;
    background: #f29545;
  }
  .new_entry .container {
    display: flex;
    background: #f29545;
  }
  .new_entry .container {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .new_entry .container .box {
    flex: 1;
    background: #f26934;
    border-radius: 2px;
    margin: 20px 10px;
    padding: 15px 20px;
    text-align: center;
  }
  .new_entry .container .box:nth-of-type(1) {
    flex-grow: 1;
    background: #fff;
    border-radius: 10px;
    margin: 0px 0px;
    padding: 0px 0px;
    text-align: left;
  }
  .new_entry .container .box:nth-of-type(2) {
    flex-grow: 6;
    max-width: 450px;
    background: #f26934;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
    text-align: center;
  }
  .new_entry .container .box:nth-of-type(3) {
    flex-grow: 1;
    background: #fff;
    border-radius: 10px;
    margin: 0px 0px;
    padding: 0px 0px;
    text-align: left;
  }
  /*Container table_main */
  .table_main {
    display: flex;
    background: #f29545;
  }
  .table_main .container {
    display: flex;
    background: #f29545;
  }
  .table_main .container {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .table_main .container .box {
    flex: 1;
    background: #f26934;
    border-radius: 2px;
    margin: 20px 10px;
    padding: 15px 20px;
    text-align: center;
  }
  .table_main .container .box:nth-of-type(1) {
    flex-grow: 1;
    background: #fff;
    border-radius: 10px;
    margin: 0px 0px;
    padding: 0px 0px;
    text-align: left;
  }
  .table_main .container .box:nth-of-type(2) {
    flex-grow: 6;
    background: #f26934;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
    text-align: center;
  }
  .table_main .container .box:nth-of-type(3) {
    flex-grow: 1;
    background: #fff;
    border-radius: 10px;
    margin: 0px 0px;
    padding: 0px 0px;
    text-align: left;
  }
  /*End container table_main*/
  /*Container main menu */
  .main_menu {
    display: flex;
    background: #f26934;
  }
  .main_menu .container {
    display: flex;
    background: #f26934;
  }
  .main_menu .container {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .main_menu .container .box {
    flex: 1;
    background: #f26934;
    border-radius: 2px;
    margin: 20px 10px;
    padding: 15px 20px;
    text-align: center;
  }
  .main_menu .container .box:nth-of-type(1) {
    flex-grow: 1;
    background: #fff;
    border-radius: 10px;
    margin: 0px 0px;
    padding: 0px 0px;
    text-align: left;
  }
  .main_menu .container .box:nth-of-type(2) {
    flex-grow: 6;
    max-width: 450px;
    background: #f26934;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
    text-align: center;
  }
  .main_menu .container .box:nth-of-type(3) {
    flex-grow: 1;
    background: #fff;
    border-radius: 10px;
    margin: 0px 0px;
    padding: 0px 0px;
    text-align: left;
  }
  /*End container main menu*/
  /*Container buttons section main menu */
  .container_buttons_links_main_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .container_buttons_links_main_menu a:hover {
    color: #f3ca99;
  }
  /*End container buttons section main menu*/
  
  @media (max-width: 768px) {
    .header_light_talk_app {
      flex-direction: column;
    }
    .light_talk_app_new_entry_main {
      flex-direction: column;
    }
    .new_entry .container {
      flex-direction: column;
      padding: 10px;
      text-align: center;
    }
    .table_main .container {
      flex-direction: column;
      padding: 10px;
      text-align: center;
    }
  }